logs
.buildpath
.project
.settings
.idea
.DS_Store
vendor/
log/
/.vscode
composer.lock
phpunit.xml
/phpstan.neon
/*.pid
/*.pid.lock
docker
.pid
database.sqlite
workerman.log
server.crt
server.csr
server.key